body {
	width:900px;
	margin:0 auto;
	font-family: Helvetica, 'Open Sans', sans-serif;
}

canvas {
	border:1px solid black;
	background-color: #FFFFFF;
}

h1 {
	text-align:center;
	margin-top:6px;
}

button, select {
	display:block;
	font-size:18px;
}

select {
	border:1px solid #000000;
}

#inputs {
	margin-top: 1em;
}

#rotate {
	float:left;
	margin-bottom: 6px;
}

#reset {
	clear:left;
}

#typeOfGraph {
	float:right;
}

#polynomial {
	clear:both;
}